<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="#" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <img src="../../../../assets/images/home/fcivalle.png" alt="homepage" class="dark-logo" style="width: 50%;" />
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a routerLink="/public/home"class="nav-item nav-link active">INICIO</a>
            <a routerLink="/public/deploy" class="nav-item nav-link">DIFUSIÓN</a>
            <a  routerLink="/login" class="nav-item nav-link">CAPACITACIÓN</a>
        </div>
    </div>
  </nav>
  
  