<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="#" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <img src="../../../../assets/images/home/fcivalle.png" alt="homepage" class="dark-logo" style="width: 50%;" />
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a routerLink="/public/home"class="nav-item nav-link active">INICIO</a>
            <a routerLink="/public/deploy" class="nav-item nav-link">DIFUSIÓN</a>
            <a  (click)="capacitacion()" class="nav-item nav-link cursor">CAPACITACIÓN</a>
            <a  routerLink="/public/contact" class="nav-item nav-link">CONTACTENOS</a>
            <a  class="nav-item nav-link cursor"  
                (click)="logout()" *ngIf="autService.autenticado">
                <span class="text-nowrap">Cerrar Sesión</span>
            </a>
            <a href="#" class="nav-item nav-link">
                <div class="spinner-border spinner-border-sm text-secondary" 
                             role="status" 
                             *ngIf="spinner"
                              >
                            <span class="sr-only">Loading...</span>
                </div>
            </a>
        </div>
    </div>
  </nav>
  
  