    <app-pheader></app-pheader>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper" class="step-register formulario-blanco" >
        <div class="register-box">
            <div class="">
               <!--  <a href="javascript:void(0)" class="text-center m-b-40"><img src="../../../assets/images/home/valleinv.png" alt="Home" style="width: 250px;height: 70px;" /><br/></a> -->
                <!-- multistep form -->
                <form id="msform">
                    <!-- progressbar -->
                    <ul id="eliteregister">
                        <li class="active">Informacón Personal</li>
                        <li>A que Municipio Pertenece?</li>
                        <li>Configuración de la Cuenta </li>
                    </ul>
                    <!-- fieldsets -->
                    <fieldset>
                        <h2 class="fs-title">Informacón Personal</h2>
                        <h3 class="fs-subtitle">Primer Paso</h3>
                        <input type="text" name="fname" placeholder="Nombre Completo" />
                        <input type="text" name="lname" placeholder="Documento de Identidad" />
                        <input type="phone" name="phone" placeholder="Teléfono" />
                        <input type="address" placeholder="Direccion"/>
                        <input type="button" name="next" class="next action-button" value="Siguiente" />
                    </fieldset>
                    <fieldset>
                        <h2 class="fs-title">Municipio de Procedencia</h2>
                        <h3 class="fs-subtitle">Seleccione a que municipio pertenece</h3>
                        <app-buscar-mcipios 
                            (onEnter)="buscar($event)"
                            (ondebounce)="BuscarMcipio($event)"
                            [termino]="termino">
                        </app-buscar-mcipios> 
                        <ul class="list-group mt-0" *ngIf="mostrarSugerencia">
                            <li class="list-group-item list-group-item-action" 
                                *ngFor="let municipio of MunicipiosSugeridos" 
                                (click)="buscar( municipio.nombre )">
                                {{municipio.nombre}}
                            </li>
                        </ul>
                        <input type="button" name="previous" class="previous action-button" value="Anterior" />
                        <input type="button" name="next" class="next action-button" value="Siguiente" />
                    </fieldset>
                    <fieldset>
                        <h2 class="fs-title">Configuración de la Cuenta</h2>
                        <h3 class="fs-subtitle">Diligencie los campos para la creación de la cuenta.</h3>
                        <input type="text" name="email" placeholder="Email" />
                        <input type="password" name="pass" placeholder="Password" />
                        <input type="password" name="cpass" placeholder="Confirm Password" />
                        <input type="button" name="previous" class="previous action-button" value="Anterior" />
                        <input type="submit" name="submit" class="submit action-button" value="Enviar" />
                    </fieldset>
                </form>
                <div class="clear"></div>
            </div>
        </div>
    </section>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
<app-pfooter></app-pfooter>