    <app-pheader></app-pheader>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper" class="step-register formulario-blanco" >
        <div class="register-box">
            <div class="">
               <!--  <a href="javascript:void(0)" class="text-center m-b-40"><img src="../../../assets/images/home/valleinv.png" alt="Home" style="width: 250px;height: 70px;" /><br/></a> -->
                <!-- multistep form -->
                <form id="msform" [formGroup]="formRegistro" (submit)="guardarRegistro()">
                    <!-- progressbar -->
                    <ul id="eliteregister">
                        <li class="active">Información Personal</li>
                        <li>¿ A qué Municipio Pertenece?</li>
                        <li>Configuración de la Cuenta </li>
                    </ul>
                    <!-- fieldsets -->
                    <fieldset>
                        <h2 class="fs-title">Información Personal</h2>
                        <h3 class="fs-subtitle">Primer Paso</h3>
                        <span *ngIf="validarCampos('nombreCompleto')" class="form-text text-danger">*El nombre no tiene el formato correcto y es obligatorio</span>
                        <input type="text" name="fname" placeholder="Nombre Completo" formControlName="nombreCompleto" />
                        <span *ngIf="validarCampos('documentoIdentidad')" class="form-text text-danger">*Este campo es obligatorio</span>
                        <input type="text" name="lname" placeholder="Documento de Identidad" formControlName="documentoIdentidad" />
                        <span *ngIf="validarCampos('telefono')" class="form-text text-danger">*Este campo es obligatorio</span>
                        <input type="phone" name="phone" placeholder="Teléfono" formControlName="telefono" />
                        <p *ngIf="validarCampos('direccion')" class="form-text text-danger">*Este campo es obligatorio</p>
                        <input type="address" placeholder="Dirección" formControlName="dirección"/>
                        

                        <button type="button" name="next"  [disabled]="validarSiguientePaso1()"  class="next action-button">Siguiente</button>
                    </fieldset>
                    <fieldset>
                        <h2 class="fs-title">Municipio de Procedencia</h2>
                        <h3 class="fs-subtitle">Seleccione a que municipio pertenece</h3>
                        <app-buscar-mcipios 
                            (onEnter)="buscar($event)"
                            (ondebounce)="BuscarMcipio($event)"
                            [termino]="termino">
                        </app-buscar-mcipios> 
                        <ul class="list-group mt-0" *ngIf="mostrarSugerencia">
                            <li class="list-group-item list-group-item-action" 
                                *ngFor="let municipio of MunicipiosSugeridos" 
                                (click)="buscar( municipio.nombre )">
                                {{municipio.nombre}}
                            </li>
                        </ul>
                        <p *ngIf="validarMunicipioVacio()" class="form-text text-info">El campo Municipio es obligatorio</p>
                        <input type="button" name="previous" class="previous action-button" value="Anterior" />
                        <input type="button" name="next"  [disabled]="validarMunicipioVacio()" class="next action-button" value="Siguiente" />
                    </fieldset>
                    
                    <fieldset>
                        <h2 class="fs-title">Configuración de la Cuenta</h2>
                        <h3 class="fs-subtitle">Diligencie los campos para la creación de la cuenta.</h3>
                        <input type="text" name="email" placeholder="Email" formControlName="email" />
                        <span *ngIf="validarCampos('email')" class="form-text text-danger">{{ emailErrors }}</span>
                        <input type="password" name="pass" placeholder="Password" formControlName="clave" />
                        <span class="form-text text-danger"
                            *ngIf="validarCampos('clave')">
                            La contraseña debe de ser mayor de 6 caracteres.
                         </span>
                        <input type="password" name="cpass" placeholder="Confirm Password" formControlName="validar" />
                        <p *ngIf="validarCampos('validar')" 
                            class="form-text text-danger" >
                            *La verificación del password es incorrecta
                        </p>
                        <input type="button" name="previous" class="previous action-button" value="Anterior" />
                        <button type="submit" [disabled]="formRegistro.pending" class="action-button">Enviar</button>
                    </fieldset>
                </form>
                <div class="clear"></div>
            </div>
        </div>
    </section>

    
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
<app-pfooter></app-pfooter>