<footer class="text-center text-lg-start ">
<!-- Grid container -->
<div class="container-fluid background-blanco ">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
      <img src="../../../../assets/images/home/fcivalle_f.png" class="w-70 img-responsive" />
    </div>
    <!--Grid column-->
      <!--Grid column-->
      <div class="col-lg-5 col-md-12 mb-4 mb-md-0">
        <h2 class="text-center mt-5"><b> Todos los derechos reservados 2021 </b></h2>
      </div>
      <!--Grid column-->
    <!--Grid column-->
    <div class="col-lg-3 col-md-12 mb-4 mb-md-0 text-end">
      <h2 class=" mt-3 text-azul font-weight-bold "><b>Soporte FCI Valle</b></h2>
      <h3 >
        310 430 50 00
      </h3>
      <h3>
        soporte@fcivalle.com
      </h3>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</div>
<!-- Grid container -->

</footer>
<!-- Service End -->

