
   <div class="fondo">
       <div class="container-xxl py-5">
           <div class="container">
               <div class="row g-4">
                   <div class="col-lg-4 col-sm-6 animated fadeInUp" data-wow-delay="0.1s">
                       <div class="service-item text-center pt-3 rounded-3" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                           <div class="p-4">
                               <div class="rounded-circle">
                                   <i class="fa fa-3x fa-chart-line text-azul mb-4"></i>
                               </div>
                               <h4 class="mb-3">Medición Institucional</h4>
                               <br>
                               <span> Actualización de resultados de indicadores</span>
                               
                           </div>
                       </div>
                   </div>
                   <div class="col-lg-4 col-sm-6 animated fadeInUp" data-wow-delay="0.3s">
                       <div class="service-item text-center pt-3 rounded-3">
                           <div class="p-4">
                               <i class="fa fa-3x fa-file-alt text-azul mb-4"></i>
                               <h4 class="mb-3">Taller Participativo</h4>
                               <span> Socializacion de indicadores, analisis DOFA y conclusiones</span>
                           </div>
                       </div>
                   </div>
                   <div class="col-lg-4 col-sm-6 animated fadeInUp" data-wow-delay="0.5s">
                       <div class="service-item text-center pt-3 rounded-3">
                           <div class="p-4">
                               <i class="fa fa-3x fa-edit text-azul mb-4"></i>
                               <h4 class="mb-3">Planes de acción</h4>
                               <span> Resultado de los 16 municipios de los talleres de validacion</span>
                           </div>
                       </div>
                   </div>
                  
               </div>
           </div>
       </div>
       <!-- Service End -->
    
       <!-- Service Start -->
       <div class="container-xxl py-5">
           <div class="container">
               <div class="row g-4">
                   <div class="col-lg-4 col-sm-6 animated fadeInUp" data-wow-delay="0.1s">
                       <div class="service-item text-center pt-3 rounded-3" >
                           <div class="p-4">
                               <div class="rounded-circle">
                                   <i class="fa fa-3x fa-users text-azul mb-4"></i>
                               </div>
                               <h4 class="mb-3">Socialización y difusión</h4>
                              <span>Eventos del proyecto Fortalecimiento de Capacidades Institucionales</span>
                           </div>
                       </div>
                   </div>
                   <div class="col-lg-4 col-sm-6 animated fadeInUp" data-wow-delay="0.3s">
                       <div class="service-item text-center pt-3 rounded-3">
                           <div class="p-4">
                               <i class="fa fa-3x fa-handshake text-azul mb-4"></i>
                               <h4 class="mb-3">Cualificación gestión pública</h4>
                               <span>Jornadas de formacion para la generacion de capacidades institucionales</span>                            
                           </div>
                       </div>
                   </div>
                   <div class="col-lg-4 col-sm-6 animated fadeInUp" data-wow-delay="0.5s">
                       <div class="service-item text-center pt-3 rounded-3">
                           <div class="p-4">
                               <i class="fa fa-3x fa-toolbox text-azul mb-4"></i>
                               <h4 class="mb-3">Caja de herramientas</h4>
                               <br>
                               <span>Elaboracion y suministro de material didactico</span>
                           </div>
                       </div>
                   </div>
                  
               </div>
           </div>
       </div>
     
   </div>
    <!-- Service Start -->