<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader p-0">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Fundepacifico</p>
    </div>
</div>
<div class="fondo">
    <div class="container-xxl py-5" *ngIf="grupo1">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-4 col-sm-6 animated fadeInUp" data-wow-delay="0.1s" *ngFor="let item of grupo1">
                    <div [class]="item.claseCSS" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                        <div class="p-4">
                            <div class="rounded-circle">
                                 <a (click)="descarArchivo(item)" class="cursor"><i [class]="item.icono?item.icono:''"></i></a>
                            </div>
                            <h4 class="mb-3">{{ item.nombre_Grupo }}</h4>
                            <br>
                            <span>  {{item.descripcion}}  </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->
    <!-- Service Start -->
    <div class="container-xxl py-5" *ngIf="grupo2">
         <div class="container">
             <div class="row g-4">
                 <div class="col-lg-4 col-sm-6 animated fadeInUp" data-wow-delay="0.1s" *ngFor="let item of grupo2">
                     <div [class]="item.claseCSS" >
                         <div class="p-4">
                             <div class="rounded-circle">
                             <a (click)="descarArchivo(item)" class="cursor"><i [class]="item.icono"></i></a>
                             </div>
                             <h4 class="mb-3">{{ item.nombre_Grupo }}</h4>
                             <span>{{item.descripcion}}</span>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
    </div>

    <div class="container-xxl py-5" *ngIf="grupo3">
         <div class="container">
             <div class="row g-4">
                 <div class="col-lg-4 col-sm-6 animated fadeInUp" data-wow-delay="0.1s" *ngFor="let item of grupo3">
                     <div [class]="item.claseCSS" >
                         <div class="p-4">
                             <div class="rounded-circle">
                             <a (click)="descarArchivo(item)" class="cursor"><i [class]="item.icono"></i></a>
                             </div>
                             <h4 class="mb-3">{{ item.nombre_Grupo }}</h4>
                         <span>{{item.descripcion}}</span>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>

     <div class="container-xxl py-5" *ngIf="grupo4">
         <div class="container">
             <div class="row g-4">
                 <div class="col-lg-4 col-sm-6 animated fadeInUp" data-wow-delay="0.1s" *ngFor="let item of grupo4">
                     <div [class]="item.claseCSS" >
                         <div class="p-4">
                             <div class="rounded-circle">
                             <a (click)="descarArchivo(item)" class="cursor"><i [class]="item.icono"></i></a>
                             </div>
                             <h4 class="mb-3">{{ item.nombre_Grupo }}</h4>
                         <span>{{item.descripcion}}</span>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>

     <div class="container-xxl py-5" *ngIf="grupo5">
         <div class="container">
             <div class="row g-4">
                 <div class="col-lg-4 col-sm-6 animated fadeInUp" data-wow-delay="0.1s" *ngFor="let item of grupo5">
                     <div [class]="item.claseCSS" >
                         <div class="p-4">
                             <div class="rounded-circle">
                             <a (click)="descarArchivo(item)" class="cursor"><i [class]="item.icono"></i></a>
                             </div>
                             <h4 class="mb-3">{{ item.nombre_Grupo }}</h4>
                         <span>{{item.descripcion}}</span>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>

     <div class="container-xxl py-5" *ngIf="grupo6">
         <div class="container">
             <div class="row g-4">
                 <div class="col-lg-4 col-sm-6 animated fadeInUp" data-wow-delay="0.1s" *ngFor="let item of grupo6">
                     <div [class]="item.claseCSS" >
                         <div class="p-4">
                             <div class="rounded-circle">
                             <a (click)="descarArchivo(item)" class="cursor"><i [class]="item.icono"></i></a>
                             </div>
                             <h4 class="mb-3">{{ item.nombre_Grupo }}</h4>
                         <span>{{item.descripcion}}</span>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
</div>
 <!-- Modal para descarga de archivos -->
 <app-modaldescarga [grupo]="grupoEnviar"></app-modaldescarga>
