<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="form-row mb-3">
                <button type="button"  
                        class="btn waves-effect waves-light btn-info"
                        >
                    Nuevo Usuario
                </button>
            </div> 
            <h4 class="card-title">Usuarios</h4>
            <h6 class="card-subtitle">Consulta Todos los Usuarios creados.</h6>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Rol</th>
                            <th class="text-nowrap">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listado">
                            <td>{{ item.NombreUsuario }}</td>
                            <td>{{ item.Email }}</td>
                            <td>{{ item.TipoRol }}</td>
                            <td class="text-nowrap">
                                <a href="#" data-toggle="tooltip" data-original-title="Editar" title="Editar"><i class="fas fa-pencil-alt text-success m-r-10"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Borrar" title="Borrar"><i class="fas fa-trash-alt text-danger"></i> </a>
                            </td>
                        </tr>
                       
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
