<form (ngSubmit)="buscar()" autocomplete="off" class="mb-0">
   <!--  <div class="form-floating"> -->
        <input  type="text" 
                class="form-control" 
                id="tb-fname" 
                name="termino"
                [(ngModel)]="termino"
                (input)="teclaPrecionada()"
                placeholder="Municipio"/>
        <ul class="list-group mt-0" *ngIf="mostrarSugerencia">
                <li class="list-group-item list-group-item-action" 
                    *ngFor="let municipio of MunicipiosSugeridos" 
                    (click)="seleccionar( municipio )"
                    (keyup.enter)="seleccionar( municipio)">
                    {{municipio.nombre}}
                </li>
        </ul>
</form>
