.ocultar{
    display: none;
}

.ocultar-parte1{
    display: none;
}
.mostrar-parte1{
    display: block;
}

.fondo-modal-imagen{
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    z-index: 9999;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
 }
 
.table-wrapper-scroll-y {
display: block;
}

.borderform{
    border: 1px solid #ddd;
}

.grupo-botones-sig{
    display:flex;
    flex-wrap:wrap;
    flex-shrink:0;
    align-items:center;
    justify-content:flex-end;
    padding:.75rem;
    border-bottom-right-radius:calc(.3rem - 1px);
    border-bottom-left-radius:calc(.3rem - 1px)
}

.grupo-botones-sig>*{
    margin:.25rem;
}

.grupo-botones-ant{
    display:flex;
    flex-wrap:wrap;
    flex-shrink:0;
    align-items:center;
    justify-content:flex-start;
    padding:.75rem;
    border-bottom-right-radius:calc(.3rem - 1px);
    border-bottom-left-radius:calc(.3rem - 1px)
}

.grupo-botones-ant>*{
    margin:.25rem;
}